


body {
  /* padding: 5rem 10rem; */
  background-color: #efc9af;
  /* color: #1f8ac0; */
}
.restaurants-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  padding: 2rem;
  background-color: #45A049;
  position: fixed;

  border: 2px solid black;
}

li {
  list-style: none;
}

button {
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  background: transparent;
  cursor: pointer;
  margin: 1rem 0rem;
  color: white;
}

button:hover {
  background-color: #0f465f;
}

button:focus {
  background-color: black;
}

.restaurant {
  width: 500px;
  height: 300px;
  margin: 1rem;
  margin-left: 40vw;
  padding: 1rem;
  /* border: outset; */
  cursor: pointer;
  background-color: #fff;

  border: 1px solid grey;
}

.restaurant:hover {
  background-color: #ccc;
  border: 1px solid black;
}

.restaurants {
  /* padding-right: 20%; */
}

.image {
  height: 75%;
  background-size: cover;
  background-position: center;
}

.selected {
  background-color: black;
}

.description {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin-bottom: 100px; */
}

.description h4 {
  padding-left: 0.5rem;
}
