<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X UA-Compatible" content="ie=chrome" />
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="../menu.css" />
    <link rel="stylesheet" href="./cart.css" />
    <link rel="stylesheet" href="../style.css" />
    <script src="cart.js" async></script>
  </head>
  <body>
    <nav align="right" class="links">
      <a href="../index.html" > Home </a> /
      <a href="../restaurants.html"> Restaurants</a> /
      menu
    </nav>
    <div class="container">
      <div class="cart">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
          <span class="cart-item cart-header cart-column">ITEM</span>
          <span class="cart-price cart-header cart-column">PRICE</span>
          <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items"></div>
        <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">
          PURCHASE
        </button>
      </div>
      <div class="wrapper">
        <div class="title">
          <h4><span>Fresh Food from our Menu</span></h4>
        </div>
        <div class="menu">
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Taco%20Trio.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Taco Trio</h4>
              <span class="shop-item-price">$13.75</span>

              <p>
                480-1040 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Regular%20Meat%20Burrito.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Regular Meat Burrito</h4>
              <span class="shop-item-price">$11.75</span>

              <p>
                700-930 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Maple%20Chipotle%20Bowl.png" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Maple Chipotle Bowl</h4>
              <span class="shop-item-price">$14.75</span>

              <p>
                685-710 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Quesadilla.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Quesadilla</h4>
              <span class="shop-item-price">$12.45</span>

              <p>
                830-1140 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer class="links">
      <table style="width:90%;padding:5%;">

        <tr>
          <td> <a href="contactUs.html"> Contact Us </a> </td>
          <td><a href="#"> About Us </a> </td>
          <td><a href="#"> FAQ <a> </td>
        </tr>

      </table>
    </footer>
  </body>
</html>
