<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X UA-Compatible" content="ie=chrome" />
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="../menu.css" />
    <link rel="stylesheet" href="./cart.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="orderSummary.css" />
    <script src="cart.js" async></script>

  </head>
  <body>
    <nav align="right" class="links">
      <a href="../index.html" > Home </a> /
      <a href="../restaurants.html"> Restaurants</a> /
      menu
    </nav>
    <div class="container">
      <div class="cart">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
          <span class="cart-item cart-header cart-column">ITEM</span>
          <span class="cart-price cart-header cart-column">PRICE</span>
          <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items"></div>
        <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">
          PURCHASE
        </button>
      </div>
      <div class="wrapper">
        <div class="title">
          <h4><span>Fresh Food from our Menu</span></h4>
        </div>
        <div class="menu">
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/big-mac-meal-1.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Big Mac Extra Value Meal</h4>
              <span class="shop-item-price">$10.39</span>

              <p>
                Big Mac with fires and soft drink
                710-1140 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Big%20King%20XL%20Meal.jpg"height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Big King XL Meal</h4>
              <span class="shop-item-price">$12.19</span>

              <p>
                Now made with 2X more Burger King’s famous Stacker Sauce
                1390-1680 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/McChickenMeal.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">McChicken Extra Value Meal$</h4>
              <span class="shop-item-price">$10.69</span>

              <p>
                McChicken with fires and soft drink
                620-1052 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Bacon%20King%20Meal.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Bacon King Meal</h4>
              <span class="shop-item-price">$13.49</span>

              <p>
               Extra bacon!
               1500-1800 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- for custom menu, needs to copied to all the restaurants -->
     <div style= "display: none;" class="custom">
      <button class = "custom-btn">close</button>
       <form action="" class="custom-padding">
          <label class="container">One
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          
          <label class="container">Two
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          
          <label class="container">Three
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          
          <label class="container">Four
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
       </form>
       <button class = "custom-btn add-cart">Add to Cart</button>
     </div>

     <div style="display: none;" class="summary-container">
      <button  class= "custom-btn">close</button>
        <div class="summary-flex">
        <div class="summary custom-padding"></div>
        <div class="row">
          <div class="col-75">
            <div class="container">
              <form action="/action_page.php">
        
                <div class="row">
                  <div class="col-50">
                    <h3>Enter the following information for your Order</h3>
                    <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                    <input type="text" id="email" name="email" placeholder="john@example.com">
                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                    <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                    <label for="city"><i class="fa fa-institution"></i> City</label>
                    <input type="text" id="city" name="city" placeholder="Winnipeg">
                    <div class="row">
                      <div class="col-50">
                        <label for="state">State</label>
                        <input type="text" id="Province" name="state" placeholder="MB">
                      </div>
                      <div class="col-50">
                        <label for="zip">Zip</label>
                        <input type="text" id="zip" name="Postal Code" placeholder="R2N 2N3">
                      </div>
                    </div>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button id="confirm">Confirm</button>
    </div>
    <!-- copy ends -->

    <hr>
    <footer class="links">
      <table style="width:90%;padding:5%;">

        <tr>
          <td> <a href="contactUs.html"> Contact Us </a> </td>
          <td><a href="#"> About Us </a> </td>
          <td><a href="#"> FAQ <a> </td>
        </tr>

      </table>
    </footer>
  </body>
</html>
