<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X UA-Compatible" content="ie=chrome" />
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="../menu.css" />
    <link rel="stylesheet" href="./cart.css" />
    <script src="cart.js" async></script>
  </head>
  <body>
    <div align="right" class="links">
      Home / <a href="../restaurants.html"> Restaurants</a> /
      <a href="../cart.html"> Cart </a>
    </div>
    <div class="container">
      <div class="cart">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
          <span class="cart-item cart-header cart-column">ITEM</span>
          <span class="cart-price cart-header cart-column">PRICE</span>
          <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items"></div>
        <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">
          PURCHASE
        </button>
      </div>
      <div class="wrapper">
        <div class="title">
          <h4><span>Fresh Food from our Menu</span></h4>
        </div>
        <div class="menu">
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Spicy%20Perogy%20Pizza.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">10’’ Spicy Perogy Pizza</h4>
              <span class="shop-item-price">$18.99</span>

              <p>
                800-1000 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Fiesta%20Chicken%20Thin%20Crust%20Pizza.jpeg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">10’’ Fiesta Chicken Thin Crust Pizza</h4>
              <span class="shop-item-price">$ 15.99</span>

              <p>
                600-800 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Individual%20Amigo%20Pizza.png" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">New! 8’’ Individual Amigo Pizza</h4>
              <span class="shop-item-price">$13.49</span>

              <p>
                Limit Time Only!
                600-800 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="..Images/The%20Pizza-Burger.png" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">New! The Pizza-Burger</h4>
              <span class="shop-item-price">$15.99</span>

              <p>
                Limit Time Only!
                600-800 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
