<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X UA-Compatible" content="ie=chrome" />
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="../menu.css" />
    <link rel="stylesheet" href="./cart.css" />
    <script src="cart.js" async></script>
    <!-- <script src="orderSummary.js" async></script> -->

  </head>
  <body>
    <div align="right" class="links">
      Home / <a href="../restaurants.html"> Restaurants</a> /
      <a href="../cart.html"> Cart </a>
    </div>
    <div class="container">
      <div class="cart">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
          <span class="cart-item cart-header cart-column">ITEM</span>
          <span class="cart-price cart-header cart-column">PRICE</span>
          <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items"></div>
        <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price">$0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">
          PURCHASE
        </button>
      </div>
      <div class="wrapper">
        <div class="title">
          <h4><span>Fresh Food from our Menu</span></h4>
        </div>
        <div class="menu">
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/big-mac-meal-1.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Big Mac Extra Value Meal</h4>
              <span class="shop-item-price">$10.39</span>

              <p>
                Big Mac with fires and soft drink
                710-1140 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Big%20King%20XL%20Meal.jpg"height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Big King XL Meal</h4>
              <span class="shop-item-price">$12.19</span>

              <p>
                Now made with 2X more Burger King’s famous Stacker Sauce
                1390-1680 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/McChickenMeal.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">McChicken Extra Value Meal$</h4>
              <span class="shop-item-price">$10.69</span>

              <p>
                McChicken with fires and soft drink
                620-1052 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
          <div class="single-menu">
            <img
              class="shop-item-image"
              src="../Images/Bacon%20King%20Meal.jpg" height="250xp" width="250xp"
              alt=""
            />
            <div class="menu-content">
              <h4 class="shop-item-title">Bacon King Meal</h4>
              <span class="shop-item-price">$13.49</span>

              <p>
               Extra bacon!
               1500-1800 Cals
              </p>
              <button class="shop-item-button">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div style="display: none;" id="summary-container">
        <div  class="summary"></div>
      </div>

    </div>
  </body>
</html>
